.bloq {
  text-align: center;
}

.bloq img {
  margin-bottom: 20px;
}

.bloq h2, .bloq img {
  margin-left: auto;
  margin-right: auto;
}

.bardanis {
  display: flex;
  flex-wrap: wrap;
}

.bardani {
  margin-right: 10px;
  flex-basis: 15%;
}

.bardani:last-child {
  margin-right: 0;
}
